/* You can add global styles to this file, and also import other style files */
@import "../../../dist/cnp-layout/variables.scss";
@import "../../../dist/cnp-layout/layout.scss";

img {
    vertical-align:middle;
    border-style:none;
}

.view-container {
    padding: 15px;
}